<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div style="text-align:center">
            <img width="500" src="{{set.set_img_url}}"><br>
            <h1><a href="{{set.set_url}}">{{set.name}}</a></h1>
            <ul style="list-style:none">
                <li>Set: {{set.set_num}}</li>
                <li>Year: {{set.year}}</li>
                <li>Theme ID: {{set.theme_id}}</li>
                <li>Nº Parts: {{set.num_parts}}</li>
                <li>Last modified: {{set.last_modified_dt}}</li>
            </ul>
        </div>
        <table class="table table-striped table-collapse">
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Color</th>
        <th>Set number</th>
        <th>Quantity</th>
        <th>Image</th>
        </tr>
        {% for part in parts %}
        <tr>
        <td>{{part.part.part_num}}</td>
        <td><a href="./part?part_num={{part.part.part_num}}&part_col={{part.color.id}}">{{part.part.name}}</a></td>
        <td>{{part.color.name}}</td>
        <td>{{part.set_num}}</td>
        <td>{{part.quantity}}</td>
        <td><img width="75" src="{{part.part.part_img_url}}"></td>
        </tr>
        {% endfor %}
        </table>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
