<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div style="text-align:center">
            <img width="300" src="{{part_col.part_img_url}}"><br>
            <h1><a href="{{part.part_url}}">{{part.name}}</a></h1>
            <ul style="list-style:none">
                <li>Num: {{part.part_num}}</li>
                <li>Year: {{part.year_from}}-{{part.year_to}}</li>
                <li>Cat ID: {{part.part_cat_id}}</li>
            </ul>
        </div>
        <table class="table table-striped table-collapse">
            <tr><th>ID</th><th>Nom</th><th>Imatge</th></tr>
            {% for _set in sets %}
            <tr>
                <td>{{_set.set_num}}</td>
                <td><a href="./set?set_num={{_set.set_num}}">{{_set.name}}</a></td>
                <td><img width="75" src='{{_set.set_img_url}}'></td>
            </tr>
            {% endfor %}
        </table>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
